.version-container {
    margin-top: 50px;
    padding: 10px;
    width: 700px;
    border: 1px;
    border-radius: 5px;
    border-color: #b1afaf;
    border-style: solid;
}

.version-container div {
    display: flex;
}

.text-bold {
    font-weight: bold;
    margin-right: 5px;
    border: none;
}

.version-detalhes {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.group-issues {
    border: 1px;
    border-radius: 5px;
    border-color: #b1afaf;
    border-style: solid;
    cursor: pointer;
    background-color: aliceblue;
}

.list-issues {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.list-issues div {
    margin-right: 10px;
}
