.sol-atrasada {
    background-color: #e03333ce;
}

.sol-urgente {
    background-color: #e76225;
}

.sol-atencao {
    background-color: #f7d308d7;
}

.sol-ok {
    background-color: lightgreen;
}

.link-tarefa {
    color: #000000;
    font-weight: bold;
}